# Codon Distribution

In [2]:
import pandas as pd

In [3]:
df1 = pd.read_excel('Results/FrequencyCodon1.xlsx',index_col=0)
df2 = pd.read_excel('Results/FrequencyCodon2.xlsx',index_col=0)
df3 = pd.read_excel('Results/FrequencyCodon3.xlsx',index_col=0)
df4 = pd.read_excel('Results/FrequencyCodon4.xlsx',index_col=0)
df5 = pd.read_excel('Results/FrequencyCodon5.xlsx',index_col=0)
df6 = pd.read_excel('Results/FrequencyCodon6.xlsx',index_col=0)
df7 = pd.read_excel('Results/FrequencyCodon7.xlsx',index_col=0)
df8 = pd.read_excel('Results/FrequencyCodon8.xlsx',index_col=0)
df9 = pd.read_excel('Results/FrequencyCodon9.xlsx',index_col=0)
df10 = pd.read_excel('Results/FrequencyCodon10.xlsx',index_col=0)

In [4]:
df1

  Codon  Frequency
0   ATT          2
1   CTG          2
2   ATC          3
3   TTG       5654
4   ---      21020
5   GTG      22156
6   ATG     256269

In [5]:
df = pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10])
dff5 = pd.concat([df1,df2,df3,df4,df5])
df6_10 = pd.concat([df6,df7,df8,df9,df10])

In [6]:
df = df.groupby('Codon').sum()
dff5 = dff5.groupby('Codon').sum()
df6_10 = df6_10.groupby('Codon').sum()

In [7]:
df = df.sort_values(by=['Frequency'],ascending = False)
dff5 = dff5.sort_values(by=['Frequency'],ascending = False)
df6_10 = df6_10.sort_values(by=['Frequency'],ascending = False)

In [8]:
df.to_excel('Results/FrequencyCodonSum.xlsx')
dff5.to_excel('Results/FrequencyCodonSum5.xlsx')
df6_10.to_excel('Results/FrequencyCodonSum6_10.xlsx')

In [9]:
df

       Frequency
Codon
ATG       305466
---       155587
AAA       143544
ATT       109283
GAA       101663
...          ...
CTA        10028
CGG         9360
GGG         8713
AGG         6990
SCC            1

[63 rows x 1 columns]